/* generic clean form style */

form {
  float: left;
  width: 300px;
}

form .row {
  clear: both;
  padding-bottom: .3em;
}

form .row button {
  float: right;
}

form .row label input {
  float: right;
  width: 200px;
}

form .row label span {
  float: right;
  font-weight: bold;
  width: 200px;
}

form .row label textarea {
  width: 300px;
}

form .row ul {
  float: right;
  width: 200px;
}

ul.actions {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.actions li {
  display: inline;
}

ul.routes {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile {
  float: right;
}

.profile form {
  text-align: right;
  width: auto;
}

.profile .user {
  font-weight: bold;
}

.notice {
  background-color: lightgray;
  margin-bottom: .7em;
  width: 300px;
}

.notice.error {
  background-color: lightcoral;
}

.notice.info {
  background-color: lightgreen;
}

.notice.warn {
  background-color: lightyellow;
}

