/* generic clean form style */

th {
  text-align: left;
}

header, footer, main {
  clear: both;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

header h1 {
  float: left;
  font-size: 1.2em;
  margin: 0 1em 0 0;
  padding: 0;
}

header .profile {
  float: right;
}

header .profile form {
  text-align: right;
}

header .profile .user {
  font-weight: bold;
}

header .routes {
  display: inline;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

header .routes li {
  border-right: 1px solid black;
  display: inline;
  padding-right: .5em;
}

header .routes li:last-of-type {
  border: 0;
}

header .routes li .info {
  background-color: black;
  border-radius: 1em;
  color: white;
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  min-width: 1em;
  text-align: center;
}

footer {
  background-color: #EFEFEF;
  margin-top: 1em;
  padding: .2em 0;
}

footer .links {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .links li {
  border-right: 1px solid black;
  display: inline;
  padding-right: .5em;
}

footer .links li:last-of-type {
  border: 0;
}

main form {
  float: left;
  width: 300px;
}

main form .row {
  clear: both;
  padding-bottom: .3em;
}

main form .row button {
  float: right;
}

main form .row label input {
  float: right;
  width: 200px;
}

main form .row label span {
  float: right;
  font-weight: bold;
  width: 200px;
}

main form .row label textarea {
  width: 300px;
}

main form .row ul {
  float: right;
  width: 200px;
}

main .actions {
  list-style: none;
  margin: 0;
  padding: 0;
}

main .actions li {
  display: inline;
}

.notice {
  background-color: lightgray;
  margin-bottom: .7em;
  width: 300px;
}

.notice.error {
  background-color: lightcoral;
}

.notice.info {
  background-color: lightgreen;
}

.notice.warn {
  background-color: lightyellow;
}

