{(header.html)}
  <table>
    <thead>
      <tr>
        <th>Path</th>
        <th>Method</th>
        <th>SQL Function</th>
        <th>Description</th>
      <tr>
    </thead>
    <tbody>
{% for _, route in ipairs(data.routes) do %}
      <tr>
{% if route.method == 'get' and #route.params == 0 then %}
        <td><a href="{*route.path*}">{{route.path}}</a></td>
{% else %}
        <td>{{route.path}}</td>
{% end %}
        <td>{{route.method:upper()}}</td>
{% if route.method == 'get' and #route.params == 0 then %}
        <td><a href="{*route.path*}">{{route.proc}}</a></td>
{% else %}
        <td>{{route.proc}}</td>
{% end %}
        <td>{{route.description}}</td>
      </tr>
{% end %}
    </tbody>
  </table>
{(footer.html)}
