{(header.html)}
  <form action="{*data.task.routes.put*}" method="post">
    <input name="method" type="hidden" value="put">
    <div class="row">
      <label>Subject
        <input required name="subject" value="{{data.task.subject}}">
      </label>
    </div>
    <div class="row">
      <label>Status
        <span>{{data.task.status}}</span>
      </label>
    </div>
    <div class="row">
      <ul class="actions">
{% if data.task.status == "open" then %}
        <li><a href="{*data.task.routes.get*}/finish">Finish</a></li>
        <li><a href="{*data.task.routes.get*}/cancel">Cancel</a></li>
{% else %}
        <li><a href="{*data.task.routes.get*}/reopen">Reopen</a></li>
{% end %}
        <li><a href="{*data.task.routes.get*}/delete">Delete</a></li>
      </ul>
    </div>
    <div class="row">
      <label>Description
        <textarea name="description">{{data.task.description}}</textarea>
      </label>
    </div>
    <div class="row">
      <a href="{*data.routes.list*}">List all tasks</a>
      <button type="submit">Save</button>
    </div>
  </form>
{(footer.html)}
